/*note the changes to the gradient I made to make it work on Firefox*/
body{
	padding:0px;
	margin:0px;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,151,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:100vmax;
height:100vmin;
}

#myCanvas {
background:rgb(255, 255, 255);
position:absolute;
top:0;
left:0;
width:700px;
height:700px;
}

#controls{
	background:rgb(148, 147, 147);
	position:absolute;
	top:10px;
	left:705px;
	width:400px;
	height:200px;
}

#wave{
	background:rgb(5, 155, 224);
	position:absolute;
	top:215px;
	left:705px;
	width:400px;
	height:400px;
}








